.date_block{
    align-items: center;
    appearance: none;
    background: #fff;
    border-radius: 6px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    * {
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
}