.habit_card {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 13px 10px -10px #e2e8f5;
  display: flex;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;

  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .habit_meta {
    display: flex;
    gap: 15px;
  }

  .checkbox_wrapper {
    height: 40px;
    width: 40px;

    .check_icon {
      color: var(--primary);
      width: 40%;
    }
  }
}
