.habit_card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 13px 10px -10px #E2E8F5;
  display: flex;
  padding: 20px;
  gap: 20px;

  h3{
    margin-top: 2.5px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .habit_history {
    display: flex;
    height: 20px;
    column-gap: 10px;
    opacity: 0.15;
  }
}
